@font-face {
	src: url('opensans_regular.ttf');
}

@font-face {
	src: url('opensans_semibold.ttf');
}

@font-face {
	src: url('opensans_bold.ttf');
}

@font-face {
	src: url('firacode_regular.ttf');
}

.root {
	PRIMARY_D2: #2D4D2E;
	PRIMARY_D1: #407F41;
	PRIMARY: #49B04A;
	PRIMARY_L1: #66CC68;
	PRIMARY_L2: #EBF5EB;

	SECONDARY: #008A7B;

	GRAY_0: #222222;
	GRAY_1: #3B3B3B;
	GRAY_2: #515151;
	GRAY_3: #626262;
	GRAY_4: #7E7E7E;
	GRAY_5: #9E9E9E;
	GRAY_6: #B1B1B1;
	GRAY_7: #CFCFCF;
	GRAY_8: #E1E1E1;
	GRAY_9: #F7F7F7;

	GREEN_3: PRIMARY_D1;
	GREEN_5: PRIMARY;
	RED_5: #E74C3C;
	ORANGE_5: #E67E22;
	YELLOW_4: #C19F0E;
	YELLOW_5: #F1C40F;

	MAIN_BG: GRAY_9;
	MUTED_BG: GRAY_5;
	TEXT_FILL: GRAY_0;
	TEXT_FILL_HIGHLIGHTED: PRIMARY;
	TEXT_FILL_MUTED: GRAY_5;

	TITLE_BG: PRIMARY;
	TITLE_TEXT_FILL: white;

	CONTROL_BORDER_NORMAL: GRAY_7;
	CONTROL_BORDER_FOCUSED: GRAY_5;
	CONTROL_BORDER_DISABLED: GRAY_8;
	CONTROL_BG_NORMAL: white;
	CONTROL_BG_HOVER: GRAY_9;
	CONTROL_BG_ARMED: GRAY_8;
	CONTROL_BG_DISABLED: GRAY_9;
	CONTROL_BG_SELECTED: PRIMARY_L2;

	CONTROL_PRIMARY_BORDER_NORMAL: PRIMARY_D1;
	CONTROL_PRIMARY_BORDER_ARMED: PRIMARY_D2;
	CONTROL_PRIMARY_BORDER_FOCUSED: SECONDARY;
	CONTROL_PRIMARY_BG_NORMAL: PRIMARY;
	CONTROL_PRIMARY_BG_ARMED: PRIMARY_D1;

	SCROLL_BAR_THUMB_NORMAL: GRAY_7;
	SCROLL_BAR_THUMB_HOVER: GRAY_6;

	PROGRESS_INDICATOR_BEGIN: GRAY_2;
	PROGRESS_INDICATOR_END: GRAY_4;
	PROGRESS_BAR_BG: GRAY_8;


	-fx-background-color: MAIN_BG;
	-fx-text-fill: TEXT_FILL;
	-fx-font-family: 'Open Sans';
}

.label {
	-fx-text-fill: TEXT_FILL;
	-fx-font-size: 1.0em;
}

.label-extra-large {
	-fx-font-family: 'Open Sans SemiBold';
	-fx-font-size: 1.5em;
}

.label-large {
	-fx-font-family: 'Open Sans SemiBold';
	-fx-font-size: 1.2em;
}

.label-title {
	-fx-font-family: 'Open Sans SemiBold';
	-fx-font-size: 1.0em;
}

.label-red {
	-fx-text-fill: RED_5;
}
.info-label {
    -fx-font-family: 'Open Sans SemiBold';
    -fx-font-size: 1.0em;
    -fx-text-fill: PRIMARY;
    -fx-padding: 5px;
    -fx-alignment: center-left;
    -fx-wrap-text: true;
    -fx-line-spacing: 2px;
}

.text-input {
	-fx-cursor: text;
	-fx-text-fill: TEXT_FILL;
	-fx-highlight-fill: PRIMARY;
	-fx-prompt-text-fill: TEXT_FILL_MUTED;
	-fx-background-color: CONTROL_BORDER_NORMAL, CONTROL_BG_NORMAL;
	-fx-background-insets: 0, 1px;
	-fx-background-radius: 4px;
	-fx-padding: 0.3em 0.5em 0.3em 0.5em;
}

.text-input:focused {
	-fx-background-color: CONTROL_BORDER_FOCUSED, CONTROL_BG_NORMAL;
}

.text-input:disabled {
	-fx-text-fill: TEXT_FILL_MUTED;
	-fx-background-color: CONTROL_BORDER_DISABLED, CONTROL_BG_DISABLED;
}
/* 
.button {
	-fx-text-fill: TEXT_FILL;
	-fx-alignment: CENTER;
	-fx-background-color: CONTROL_BORDER_NORMAL, CONTROL_BG_NORMAL;
	-fx-background-insets: 0, 1px;
	-fx-background-radius: 4px;
	-fx-padding: 0.3em 1em 0.3em 1em;
	-fx-graphic-text-gap: 6px;
}

.button:focused {
	-fx-background-color: CONTROL_BORDER_FOCUSED, CONTROL_BG_NORMAL;
}*/
/* 
.sale
{
	-fx-padding: 0.3em 1em 0.3em 1em;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
             #9d4024,
             #d86e3a,
            radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.sale:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%,radius 100%,#ea7f4b,#c54e2c);
}

.sale:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}*/
.primary {
    -fx-background-color: linear-gradient(to bottom, #007AFF 0%, #0056CC 100%);    
    -fx-text-fill: white;
	-fx-background-radius: 4px;
}

.primary:hover {
    -fx-background-color: linear-gradient(to bottom, #60B0FF 0%, #0066DD 100%);
}

.primary:pressed {
    -fx-background-color: linear-gradient(to bottom, #0050CC 0%, #003399 100%);
}
.my-vbox {
    -fx-padding: 10 15 10 15;
}
.vbox_container {
    -fx-padding: 10 15 10 15;
	-fx-border-color: CONTROL_BORDER_NORMAL;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-background-radius: 4px;
}